In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path

In [2]:
input_path =  Path("data/raw/housing.csv")
df = pd.read_csv(input_path)
df_temp =  df.copy()

In [3]:
df.info

<bound method DataFrame.info of        longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                41.0        880.0           129.0
1        -122.22     37.86                21.0       7099.0          1106.0
2        -122.24     37.85                52.0       1467.0           190.0
3        -122.25     37.85                52.0       1274.0           235.0
4        -122.25     37.85                52.0       1627.0           280.0
...          ...       ...                 ...          ...             ...
19190    -121.09     39.48                25.0       1665.0           374.0
19191    -121.21     39.49                18.0        697.0           150.0
19192    -121.22     39.43                17.0       2254.0           485.0
19193    -121.32     39.43                18.0       1860.0           409.0
19194    -121.24     39.37                16.0       2785.0           616.0

       population  households  median_income  median_house_value  \
0           322.0       126.0         8.3252            452600.0
1          2401.0      1138.0         8.3014            358500.0
2           496.0       177.0         7.2574            352100.0
3           558.0       219.0         5.6431            341300.0
4           565.0       259.0         3.8462            342200.0
...           ...         ...            ...                 ...
19190       845.0       330.0         1.5603             78100.0
19191       356.0       114.0         2.5568             77100.0
19192      1007.0       433.0         1.7000             92300.0
19193       741.0       349.0         1.8672             84700.0
19194      1387.0       530.0         2.3886             89400.0

      ocean_proximity
0            NEAR BAY
1            NEAR BAY
2            NEAR BAY
3            NEAR BAY
4            NEAR BAY
...               ...
19190          INLAND
19191          INLAND
19192          INLAND
19193          INLAND
19194          INLAND

[19195 rows x 10 columns]>

In [4]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [5]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,19195.000000,19195.000000,19195.000000,19195.000000,19006.000000,19195.000000,19195.000000,19195.000000,19195.000000
mean,-119.571967,35.634825,28.619745,2627.138421,535.979901,1421.067413,497.835530,3.876270,207062.917843
std,2.004638,2.136828,12.573811,2163.509711,418.839228,1129.249021,380.143585,1.911459,115668.000617
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1444.000000,295.000000,784.000000,279.000000,2.562500,119400.000000
50%,-118.500000,34.260000,29.000000,2122.000000,434.000000,1165.000000,409.000000,3.537900,179800.000000
75%,-118.010000,37.710000,37.000000,3142.000000,644.000000,1721.000000,602.000000,4.757150,265400.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [6]:
df.describe(include="all")

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
count,19195.000000,19195.000000,19195.000000,19195.000000,19006.000000,19195.000000,19195.000000,19195.000000,19195.000000,19195
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<1H OCEAN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8515
mean,-119.571967,35.634825,28.619745,2627.138421,535.979901,1421.067413,497.835530,3.876270,207062.917843,NaN
std,2.004638,2.136828,12.573811,2163.509711,418.839228,1129.249021,380.143585,1.911459,115668.000617,NaN
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000,NaN
25%,-121.800000,33.930000,18.000000,1444.000000,295.000000,784.000000,279.000000,2.562500,119400.000000,NaN
50%,-118.500000,34.260000,29.000000,2122.000000,434.000000,1165.000000,409.000000,3.537900,179800.000000,NaN
75%,-118.010000,37.710000,37.000000,3142.000000,644.000000,1721.000000,602.000000,4.757150,265400.000000,NaN
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000,NaN

In [7]:
df.info

<bound method DataFrame.info of        longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                41.0        880.0           129.0
1        -122.22     37.86                21.0       7099.0          1106.0
2        -122.24     37.85                52.0       1467.0           190.0
3        -122.25     37.85                52.0       1274.0           235.0
4        -122.25     37.85                52.0       1627.0           280.0
...          ...       ...                 ...          ...             ...
19190    -121.09     39.48                25.0       1665.0           374.0
19191    -121.21     39.49                18.0        697.0           150.0
19192    -121.22     39.43                17.0       2254.0           485.0
19193    -121.32     39.43                18.0       1860.0           409.0
19194    -121.24     39.37                16.0       2785.0           616.0

       population  households  median_income  median_house_value  \
0           322.0       126.0         8.3252            452600.0
1          2401.0      1138.0         8.3014            358500.0
2           496.0       177.0         7.2574            352100.0
3           558.0       219.0         5.6431            341300.0
4           565.0       259.0         3.8462            342200.0
...           ...         ...            ...                 ...
19190       845.0       330.0         1.5603             78100.0
19191       356.0       114.0         2.5568             77100.0
19192      1007.0       433.0         1.7000             92300.0
19193       741.0       349.0         1.8672             84700.0
19194      1387.0       530.0         2.3886             89400.0

      ocean_proximity
0            NEAR BAY
1            NEAR BAY
2            NEAR BAY
3            NEAR BAY
4            NEAR BAY
...               ...
19190          INLAND
19191          INLAND
19192          INLAND
19193          INLAND
19194          INLAND

[19195 rows x 10 columns]>